<div class="bg">
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"><img src="../../assets/images/logo/Logo.png" alt="LOGO"></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <form class="form-inline ml-auto my-2 my-lg-0">
          <a routerLink="/"><h3 class="text-light" >home</h3></a>
          <button class="btn-lg btn-light rounded-pill ml-3 my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </div>
    </nav>
    <h1 class="text-light text-light text-center">Address</h1>
 <div class="container pt-5 text-light">
    <div class="row">
        <div class="col">
            <div class="row">
                <label for="text"><h4 class="pr-4">Flat/Door No</h4></label>
                <input type="text">
            </div>
            <div class="row pt-5">
                <label for="text"><h4 class="pr-5">Street</h4></label>
                <input type="text" class="pr-5">
            </div>
            <div class="row pt-5">
                <div class="col-6">
                    <label for=""><h4 class="pr-4">Town/city</h4></label>
                    <input type="text">
                </div>
                <div class="col-6">
                    <label for=""><h4 class="pr-4">Pincode</h4></label>
                    <input type="number" name="" id="">
                </div>
            </div>
            <div class="row pt-5 justify-content-center">
                <a class="btn-lg text-dark btn-light rounded-pill" routerLink="/payment">Continue</a>
            </div>
        </div>
    </div>
  </div>
</div>
