<div class="bg">
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand"><img src="../../assets/images/logo/Logo1.png" alt="LOGO"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <form class="form-inline ml-auto my-2 my-lg-0">
            <a routerLink="/"><h3 class="text-light" >home</h3></a>
            <button class="btn-lg btn-light rounded-pill ml-3 my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
    </nav>
    <h1 class="text-center">CUISINES</h1>
    <div class="container">
        <div class="row mt-5" style="background-image: url(../../assets/images/card/brec.png);" routerLink="/menu">
            <div class="col-6 ">
                <img src="../../assets/images/food/indianthali.png">
            </div>
            <div class="col-6 pt-5 text-light" >
                <h2>INDIAN CUISINE</h2>
                <p>Indian cuisine consists of a variety of regional and 
                    traditional cuisines native to India</p>
            </div>
        </div>
        <div class="row mt-5" style="background-image: url(../../assets/images/card/blrec.png);" routerLink="/menu">
            <div class="col-6 ">
                <img src="../../assets/images/food/italian pizza.png">
            </div>
            <div class="col-6 pt-5 text-light" >
                <h2>ITALIAN CUISINE</h2>
                <p>Indian cuisine consists of a variety of regional and 
                    traditional cuisines native to India</p>
            </div>
        </div>
        <div class="row mt-5" style="background-image: url(../../assets/images/card/yrec.png);" routerLink="/menu">
            <div class="col-6 ">
                <img src="../../assets/images/food/chinese.png">
            </div>
            <div class="col-6 pt-5 text-dark" >
                <h2>CHINESE CUISINE</h2>
                <p>Indian cuisine consists of a variety of regional and 
                    traditional cuisines native to India</p>
            </div>
        </div>
        <div class="row mt-5" style="background-image: url(../../assets/images/card/brec.png);" routerLink="/menu">
            <div class="col-6 ">
                <img src="../../assets/images/food/veganfood.png">
            </div>
            <div class="col-6 pt-5 text-light" >
                <h2>VEGAN CUISINE</h2>
                <p>Indian cuisine consists of a variety of regional and 
                    traditional cuisines native to India</p>
            </div>
        </div>
        <div class="row mt-5" style="background-image: url(../../assets/images/card/blrec.png);" routerLink="/menu">
            <div class="col-6 ">
                <img src="../../assets/images/food/pad thai.png">
            </div>
            <div class="col-6 pt-5 text-light" >
                <h2>THAI CUISINE</h2>
                <p>Indian cuisine consists of a variety of regional and 
                    traditional cuisines native to India</p>
            </div>
        </div>
        <div class="row mt-5" style="background-image: url(../../assets/images/card/yrec.png);" routerLink="/menu">
            <div class="col-6 ">
                <img src="../../assets/images/food/ramen.png">
            </div>
            <div class="col-6 pt-5 text-dark" >
                <h2>JAPANESE CUISINE</h2>
                <p>Indian cuisine consists of a variety of regional and 
                    traditional cuisines native to India</p>
            </div>
        </div>
    </div>
</div>
