<div class="bg" style="background-image: url('../../assets/images/bg/bg1.jpg');"> 
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"><img src="../../assets/images/logo/Logo1.png" alt="LOGO"></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form class="form-inline ml-auto my-2 my-lg-0">
        <a routerLink="/"><h3 class="text-dark pr-5">Home</h3></a>
        <a routerLink="/cuisine"><h3 class="text-dark pr-5">Menu</h3></a>
        <a routerLink="/cart"><h3 class="text-dark pr-5">Cart</h3></a>
        <button class="btn-lg btn-dark rounded-pill ml-3 my-2 my-sm-0" type="submit" routerLink="/login">Login</button>
      </form>
    </div>
  </nav>
  <div class="container ml-5">
    <div class="row">
      <div class="col-6 p-5 mt-5">
        <h1 class="text-dark">ENJOY FOOD AT YOUR PLACE</h1>
        <h3 class="pb-5">
          Heart-healthy meals delivered by hand to your house 
        </h3>
        <a class="btn-lg btn-dark rounded-pill text-light" routerLink="/cuisine">Order now</a>
      </div>
      <div class="col-6 pr-5 mr-0">
        <img src="../../assets/images/food/foodpic.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="bg" style="background-image: url('../../assets/images/bg/bg2.jpg');"> 
    <img src="../../assets/images/card/Offer.png" style="padding-top: 0;">
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="../../assets/images/food/Vegan.png" alt="">
          </div>
          <div class="col">
            <h2 class="text-light">GO VEGAN!</h2>
            <h4 class="text-light">Vegan food exclusively for you explore the wide variety of vegan foods on menu</h4><br>
            <a class="btn-light btn-lg rounded-pill" routerLink="/cuisine">Order now</a>
        </div>
        </div>
    </div>
</div>
<div class="bg" style="background-image: url('../../assets/images/bg/bg3.jpg');"> 
  <h1 class="text-dark text-center pt-4">POPULAR DISHES ON MENU</h1>
  <div class="container ">
    <div class="row pt-5 ">
      <div class="col-4 bgcard pl-5 pr-5">
        <img src="../../assets/images/food/Dosa.png" alt="">
        <h2 class="ml-5 pl-5">Dosa</h2>
        <a class="ml-5 pl-5 btn-lg btn-dark text-light rounded-pill" routerLink="/cuisine">From ₹120</a>
      </div>
      <div class="col-4 bgcard pl-5 pr-5">
        <img src="../../assets/images/food/Dosa.png" alt="">
        <h2 class="ml-5 pl-5">Dosa</h2>
        <a class="ml-5 pl-5 btn-lg btn-dark text-light rounded-pill" routerLink="/cuisine">From ₹120</a>
      </div>
      <div class="col-4 bgcard pl-5 pr-5">
        <img src="../../assets/images/food/Dosa.png" alt="">
        <h2 class="ml-5 pl-5">Dosa</h2>
        <a class="ml-5 pl-5 btn-lg btn-dark text-light rounded-pill" routerLink="/cuisine">From ₹120</a>
      </div>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-4 bgcard pl-5 pr-5">
        <img src="../../assets/images/food/Dosa.png" alt="">
        <h2 class="ml-5 pl-5">Dosa</h2>
        <a class="ml-5 pl-5 btn-lg btn-dark text-light rounded-pill" routerLink="/cuisine">From ₹120</a>
      </div>
      <div class="col-4 bgcard pl-5 pr-5">
        <img src="../../assets/images/food/Dosa.png" alt="">
        <h2 class="ml-5 pl-5">Dosa</h2>
        <a class="ml-5 pl-5 btn-lg btn-dark text-light rounded-pill" routerLink="/cuisine">From ₹120</a>
      </div>
      <div class="col-4 bgcard pl-5 pr-5">
        <img src="../../assets/images/food/Dosa.png" alt="">
        <h2 class="ml-5 pl-5">Dosa</h2>
        <a class="ml-5 pl-5 btn-lg btn-dark text-light rounded-pill" routerLink="/cuisine">From ₹120</a>
      </div>
    </div>
  </div>
</div>
<div class="bg" style="background-image: url('../../assets/images/bg/bg4.jpg');"> 
  <div class="pt-5 text-center">
    <h1 class="text-light ">TRY OUT DIFFERENT CUISINES</h1>
  </div>  
  <div class="scrolling-menu">
    <div class="menu-card" >
      <img src="../../assets/images/card/cuisine1.png" alt="" routerLink="/cuisine">
    </div>
    <div class="menu-card">
      <img src="../../assets/images/card/cuisine2.png" alt="" routerLink="/cuisine">
    </div>
    <div class="menu-card">
      <img src="../../assets/images/card/cuisine3.png" alt="" routerLink="/cuisine">
    </div>
    <div class="menu-card">
      <img src="../../assets/images/card/cuisine4.png" alt="" routerLink="/cuisine">
    </div>
  </div>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 " style="background-image:url(../../assets/images/card/yrec.png) ;">
  <div class="col-md-4 mb-0 row">
  <img src="../../assets/images/logo/Logo1.png" alt="">
  <h3 class="pt-4">MenuHandy</h3>
  </div>

  <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <h3 class="">@ copyrights Nihil's Project</h3>
  </a>

  <a class="nav col-md-4 justify-content-end" routerLink="/contact"><h3>contact us</h3></a>
  
</footer>
  
