@import url(https://db.onlinewebfonts.com/c/5e605ff6994ce0e533aaf6cd51c6a33f?family=Pecita);
.bg{
    background-image: url("../../assets/images/bg/LoginBg.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Pecita";
}   
label{
    color: #5C3018;
}
.inputbox{
    margin-left: 30px;
    padding-left: 60px;
    padding-top: 20px;
    background-color: #F6DC98;
    border-color: #5C3018;
    font-size: large;
    font-weight: 200;
}

