<div class="bg">
    <h1 class="pt-5 text-right text-light pr-5" routerLink="/">home</h1>
    <h1 class="pt-5 text-center">LOGIN</h1>
    <div class="container p-5">
        <form action="">
            <div class="row justify-content-md-center mb-3">
                <div class="col-md-auto ">
                    <label for="username"><h3>USERNAME</h3></label>
                    <input type="text" name="username" id="username" class="inputbox">
                </div>
            </div>
            <div class="row justify-content-md-center mb-5">
                <div class="col-md-auto ">
                    <label for="password"><h3>PASSWORD</h3></label>
                    <input type="password" name="password" id="password" class="inputbox">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto ">
                    <input type="submit" class="btn-dark rounded-pill btn-lg" routerLink="/" value="login now">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto ">
                    <a routerLink="/register"><h3>No Account? Register</h3></a>
                </div>
            </div>    
        </form>
    </div>
</div>