<div class="bg">
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form class="form-inline ml-auto my-2 my-lg-0">
        <a routerLink="/"><h3 class="text-dark">home</h3></a>
        <button class="btn-lg btn-dark rounded-pill ml-3 my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>
  <h1 class="text-center">Payment</h1>
    <div class="container ">
        <div class="row mt-3">
          <div class="col-4 card1" routerLink="/card">
            <img src="../../assets/images/logo/pay1.png" class="mt-5 ml-5 mb-4">
            <h2 class=" m-5 pl-3  text-light">Pay With Card</h2>
          </div>
          <div class="col-4 card2" routerLink="/upi" >
            <img src="../../assets/images/logo/pay2.png" class="mt-5 ml-5 mb-4">
            <h2 class="m-5 pl-4 text-light">Pay with UPI</h2>
        </div>
            <div class="col-4 card3" routerLink="/final" >
            <img src="../../assets/images/logo/pay3.png" class="mt-5 ml-5 mb-4">
            <h2 class="m-5 pl-5  text-light">CashonDelivery</h2>
        </div>
    </div>
</div>
