@import url(https://db.onlinewebfonts.com/c/5e605ff6994ce0e533aaf6cd51c6a33f?family=Pecita);
.bg{
    background-image: url("../../assets/images/bg/paymentBg.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Pecita";
    background-attachment: scroll;
}

.card1{
    background-image: url("../../assets/images/card/card3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.card2{
    background-image: url("../../assets/images/card/card1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.card3{
    background-image: url("../../assets/images/card/card2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

