<div class="bg">
    <h1 class="pt-5 text-right text-light pr-5" routerLink="/">home</h1>
    <h1 class="pt-3 text-center">REGISTER</h1>
    <div class="container p-3">
        <form action="">
            <div class="row justify-content-md-center mb-3">
                <div class="col-md-auto ">
                    <label for="username"><h3>USERNAME</h3></label>
                    <input type="text" name="username" id="username" class="inputbox">
                </div>
            </div>
            <div class="row justify-content-md-center mb-3">
                <div class="col-md-auto ">
                    <label for="email"><h3>EMAIL ID</h3></label>
                    <input type="email" name="email" id="email" class="inputbox">
                </div>
            </div>
            <div class="row justify-content-md-center mb-3">
                <div class="col-md-auto ">
                    <label for="phone"><h3>PHONE NO</h3></label>
                    <input type="tel" name="phone" id="phone" class="inputbox">
                </div>
            </div>
            <div class="row justify-content-md-center mb-3">
                <div class="col-md-auto ">
                    <label for="password"><h3>PASSWORD</h3></label>
                    <input type="password" name="password" id="password" class="inputbox">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto ">
                    <input type="submit" class="btn-dark rounded-pill btn-lg" routerLink="/" value="register now">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto ">
                    <a routerLink="/login"><h3>Have Account? Login</h3></a>
                </div>
            </div>    
        </form>
    </div>
</div>